<section class="gestion">
  <h1 class="gestion__title">Gestion des ruches et ruchers</h1>

  <table class="gestion__table" *ngIf="listRuchers != undefined && listRuchers.length>0">

    <th class="gestion__table_head">Nom du rucher</th>
    <th class="gestion__table_head">Editer</th>
    <th class="gestion__table_head">Supprimer</th>

    <tr *ngFor="let rucher of listRuchers;let index = index;"> 
      <td class="gestion__table_data">{{rucher._id}}</td>
      <td class="gestion__table_data"><img class="gestion__table_data_img" src="../assets/images/edit.png" alt="editer rucher" (click)="goToEditRucher(rucher._id)"/></td>
      <td class="gestion__table_data"><img class="gestion__table_data_img" src="../assets/images/trash.png" alt="supprimer rucher" (click)="deleteRucher(index)"/></td>
    </tr>

    <!-- Ajouter les tbody en bouclant sur la liste des ruchers-->
  </table>
  <p *ngIf="listRuchers == undefined || listRuchers.length==0">Vous avez inséré aucun rucher</p>
  <button class="gestion__button" (click)="goToAdd()">Ajouter un rucher</button>
</section>
