<section class="gestion">
  <h1 class="gestion__title">Gestion des ruches et ruchers</h1>

  <table class="gestion__table">

    <th class="gestion__table_head">Nom du rucher</th>
    <th class="gestion__table_head">Editer</th>
    <th class="gestion__table_head">Supprimer</th>

    <tr>
      <td class="gestion__table_data">trhrthrth</td>
      <td class="gestion__table_data"><img class="gestion__table_data_img" src="../assets/images/edit.png" alt="supprimer rucher"/></td>
      <td class="gestion__table_data"><img class="gestion__table_data_img" src="../assets/images/trash.png" alt="supprimer rucher"/></td>
    </tr>

    <!-- Ajouter les tbody en bouclant sur la liste des ruchers-->
  </table>

  <button class="gestion__button">Ajouter un rucher</button>
</section>
