
<section class="addedit">
  <h1 class="addedit__title" *ngIf="modif">Modification Rucher {{id}}</h1>
  <h1 class="addedit__title" *ngIf="!modif">Ajout Rucher </h1>

  <p class="addedit__p">Identifiant : </p>
  <input class="addedit__input" type="text"  [(ngModel)]="id" [ngModelOptions]="{standalone: true}"/>

  <p class="addedit__p">Nombre de ruches : </p>
  <input class="addedit__input" type="number"  [(ngModel)]="nbRuches" [ngModelOptions]="{standalone: true}"/>

  <p class="addedit__p">Descriptif environnement : </p>
  <select class="addedit__select"  [(ngModel)]="descr" [ngModelOptions]="{standalone: true}">
    <option *ngFor="let env of listEnv">{{env}}</option>
  </select>

  <!-- <p class="addedit__section__p">Coordonnées géographiques : </p>
  <input class="addedit__section__input" type="text"/> -->
<!--
  <p class="addedit__section__p">Date de création du rucher : </p>
  <input class="addedit__section__input" type="text"/> -->

  <table class="addedit__table">
    <th class="addedit__table_head">Historique des visites</th>
    <!-- si modification, liste des visites -->
  </table>

  <p class="addedit__p">Fréquence des visites : </p>
  <input class="addedit__input" type="number"  [(ngModel)]="freqVisite" [ngModelOptions]="{standalone: true}"/>

  <a class="addedit__submit" (click)="validate()">Valider</a>

</section>
