<h1 class="addedit__title">INSERER AJOUT OU MODIF ICI</h1>

<section class="addedit__section">
  <p class="addedit__section__p">Identifiant : </p>
  <input class="addedit__section__input" type="text"/>

  <p class="addedit__section__p">Nombre de ruches : </p>
  <input class="addedit__section__input" type="number"/>

  <p class="addedit__section__p">Descriptif environnement : </p>
  <select class="addedit__section__select">
    <!-- Listes des environnements définis dans config-->
  </select>

  <p class="addedit__section__p">Coordonnées géographiques : </p>
  <input class="addedit__section__input" type="text"/>

  <p class="addedit__section__p">Date de création du rucher : </p>
  <input class="addedit__section__input" type="text"/>

  <table class="addedit__section__table">
    <thead class="addedit__section__table_name">Historique des visites</thead>
    <!-- si modification, liste des visites -->
  </table>

  <p class="addedit__section__p">Fréquence des visites </p>
  <input class="addedit__section__input" type="number"/>

  <a class="addedit__submit">Valider</a>

</section>
