
<h1 class="config__title">Configuration</h1>

<form>
  <h2 class="config__subtitle">Fréquence des visites : </h2>
  <input class="config__input" type="number" [(ngModel)]="frequency" [ngModelOptions]="{standalone: true}"/>
  <h2 class="config__subtitle"> Environnements types : </h2>

  <table class="config__table">
    <thead class="config__table_name">Environnement</thead>
    <thead class="config__table_delete">Supprimer</thead>
    <tbody>
      <tr *ngFor="let env of listEnv;let index = index;">
        <td>{{env}}</td>
        <td><button (click)="deleteEnv(index)">Supprimer</button></td>
      </tr>
    </tbody>
    <!-- mettre un for pour les tbody ici-->

  </table>

  <h2 class="config__subtitle">Ajouter environnement: </h2>

  <input type="text" class="config__input" [(ngModel)]="valueEnv" [ngModelOptions]="{standalone: true}"/>
  <button (click)="addEnv()"> Ajouter </button>

 

  <input class="config__submit" type="submit" value="valider" (click)="validateConfig()"/>
</form>
<a class="config__import">Importer des données</a>


