
<section class="config">
  <h1 class="config__title">Configuration</h1>
  <div class="alert alert-danger" role="alert" *ngIf="error">
    {{error}}
  </div>
  <h2 class="config__subtitle">Fréquence des visites : </h2>

  <input class="config__input" type="number" [(ngModel)]="frequency" [ngModelOptions]="{standalone: true}"/>
  <h2 class="config__subtitle"> Environnements types : </h2>

  <table class="config__table" *ngIf="listEnv != undefined && listEnv.length>0">
    <th class="config__table_head">Environnement</th>
    <th class="config__table_head">Supprimer</th>
    <tr *ngFor="let env of listEnv;let index = index;">
      <td class="config__table_data">{{env}}</td>
      <td class="config__table_data"><img class="config__table_data_img" src="../assets/images/trash.png" alt="supprimer environnement" (click)="deleteEnv(index)"/></td>
    </tr>
  </table>
  <p *ngIf="listEnv == undefined || listEnv.length==0">Pas d'environnement enregistré</p>
  <h2 class="config__subtitle">Ajouter environnement : </h2>

  <input type="text" class="config__input" [(ngModel)]="valueEnv" [ngModelOptions]="{standalone: true}"/>
  <button class="config__button" (click)="addEnv()"> Ajouter environnement </button>

  <input class="config__submit" type="submit" value="Valider configuration" (click)="validateConfig()"/>

