<div class="visit">
  <h1 class="visit__title">Visite du rucher METTRE NOM RUCHER ICI</h1>

  <section class="visit__harvest">
    <h2 class="visit__harvest__title">Hausses récoltées depuis <input class="visit__harvest__date" type="text"/> : </h2>
    <h2 class="visit__harvest__number"> A REMPLIR </h2>
  </section>

  <section class="visit__coordinates">
    <h2 class="visit__coordinates__title"> Mise à jour des coordonnées : </h2>
    <input class="visit__coordinates__input" type="text"/>
  </section>

  <section class="visit__historical">
    <h2 class="visit__historical__title">Historique des visites</h2>
    <table class="visit__historical__table">
      <th class="visit__historical__table_head">Date</th>
      <th class="visit__historical__table_head">Hausses Récoltées</th>
    </table>
  </section>

  <section class="visit__new">
    <h2 class="visit__new__title">Nouvelle visite : </h2>
    <p class="visit__new__p">Date : </p>
    <input class="visit__new__input" type="text"/>
    <p class="visit__new__p">Dynamique de développement : </p>
    <input class="visit__new__input" type="text"/>
    <p class="visit__new__p">Nourriture apportée : </p>
    <input class="visit__new__input" type="text"/>
    <p class="visit__new__p">Hausses récoltées : </p>
    <input class="visit__new__input" type="number"/>

    <input class="visit__new__submit" type="submit" value="valider"/>

  </section>
</div>
