.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__label {
  font-size: 18px;
}

.login__input {
  border: 2px solid #e67e22;
}

.login__button {
  border-radius: 5px;
  padding: 15px 15px;
  font-size: 18px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
  background-color: #e67e22;
  box-shadow: 0px 5px 0px 0px #CD6509;
  width : 15rem;
  border: none;
}

.login__button:hover {
  background-color: #FF983C;
}

.login__button:active {
  position:relative;
  top:1px;
}
