#map{
  height: 40vh;
  width: 100%;
  margin: 1rem 0;
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map__title {
  font-size: 26px;
  padding-top: 1rem;
}

.map__unknown__table {
  border: 2px solid #e67e22;
  margin: auto;
}

.map__unknown__table_head {
  font-size: 18px;
  padding: .5rem;
  border-right: 2px solid #e67e22;
  border-bottom: 2px solid #e67e22;
}

.map__unknown__table_data {
  font-size: 18px;
  padding: .1rem;
  border-right: 2px solid #e67e22;
}

.map__unknown__table_data_img {
  width: 2rem;
  height: 2rem;
}

@media (min-width: 58rem) {

  #map {
    width: 80%;
    height: 50vh;
  }

  .map__title {
    font-size: 36px;
  }

  .map__unknown__table {
    margin: 1rem;
  }

  .map__unknown__table_head, .map__unknown__table_data {
    font-size: 26px;
  }
}
