
<section class="map">
  <h1 class="map__title">Carte des ruchers</h1>
  <div id="map"></div>

  <table class="map__unknown__table">

    <th class="map__unknown__table_head">Ruchers sans coordonnées</th>
    <th class="map__unknown__table_head">Visiter</th>

    <tr>
      <td class="map__unknown__table_data">gerergfgrdf</td>
      <td class="map__unknown__table_data"><img class="map__unknown__table_data_img" src="../assets/images/visit.png" alt="visiter"/></td>
    </tr>

  </table>
</section>
