.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list__title {
  font-size: 26px;
  padding-top: 1rem;
}

.list__table {
  border: 2px solid #e67e22;
  margin: auto;
}

.list__table_head {
  font-size: 18px;
  padding: .5rem;
  border-right: 2px solid #e67e22;
  border-bottom: 2px solid #e67e22;
}

.list__table_data {
  font-size: 18px;
  padding: .1rem;
  border-right: 2px solid #e67e22;
}

.list__table_data_img {
  width: 2rem;
  height: 2rem;
}

@media (min-width: 58rem) {
  .list__title {
    font-size: 36px;
  }

  .list {
    margin: 1rem;
  }

  .list__table_head, .list__table_data {
    font-size: 26px;
  }
}
